<!--<div *ngIf="!book" class="ui active dimmer">
  <div class="ui large text loader">Daten werden geladen...</div>
</div>-->
<div class="ui grid" *ngIf="books">
  <div *ngIf="!books" class="ui active dimmer">
    <div class="ui large text loader">Daten werden geladen...</div>
  </div>
  <div class="column row">
    <div class="sixteen wide column">
      <div class="ui horizontal divider">
        <h3>Bücherliste</h3>
      </div>
    </div>
  </div>
  <div class="column row" *ngIf="books">
    <div class="three wide column">
      <!--platzhalter-->
    </div>
    <div class="ten wide column">
      <div class="ui middle aligned selection divided list">
      <a *ngFor="let book of books" class="item bs-book-list-item"
      [book]="book" [routerLink]="book.isbn"></a>
      </div>
    </div>
    <div class="three wide column">
      <!--platzhalter-->
    </div>
  </div>
  <p *ngIf="books && !books.length">
    Es sind keine Bücher vorhanden!
  </p>
</div>